<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3><strong>Ocena.<span class="iq">IQ</span></strong></h3>
        <div class="alert alert-danger" ng-if="auth.loginError">
            <strong>{{ 'ERROR' | translate }}: </strong> {{auth.loginErrorText | uppercase | translate}}
        </div>
        <form>
            <div class="form-group">
                <ui-select ng-model="auth.organization" theme="bootstrap">
                    <ui-select-match placeholder="{{ 'SELECT_ORGANIZATION_PLACEHOLDER' | translate }}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="organization in auth.organizations | filter: $select.search">
                        <span ng-bind-html="organization.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Login" ng-model="auth.formLogin">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" ng-model="auth.formPassword">
            </div>
            <button class="btn btn-primary" ng-click="auth.login()">{{ 'LOGIN' | translate }}</button>
        </form>
    </div>
</div>