<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>Users</strong></div>

    <table class="table table-striped" ng-if="user.users">
        <thead>
            <tr>
                <th>Login</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Active</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="user in user.users | itemsPerPage: 10">
                <td>{{user.login}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td><input type="checkbox" ng-model="user.active" disabled></td>
                <td>{{user.organization.name}}</td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="text-center"><dir-pagination-controls></dir-pagination-controls></div>
    </div>

</div>