<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong>{{ 'INDICATORS' | translate }}</strong>
    </div>

    <table class="table table-striped" ng-if="indicatorList.indicators">
        <thead>
        <tr>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ 'TYPE' | translate }}</th>
            <th>{{ 'DEF_COEFF' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="indicator in indicatorList.indicators | itemsPerPage: 10"">
            <td>{{indicator.name}}</td>
            <td>{{indicator.description}}</td>
            <td>{{indicator.type}}</td>
            <td>{{indicator.default_coefficient}}</td>
        </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="text-center"><dir-pagination-controls></dir-pagination-controls></div>
    </div>

</div>