<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong>{{ 'ORGANIZATIONS' | translate }}</strong>&nbsp;
        <button class="btn btn-xs btn-default pull-right " ng-click="organizationList.new()"><i class="fa fa-plus-square"></i> {{ 'CREATE' | translate }}</button>
    </div>

    <div class="alert alert-success" role="alert" ng-show="organizationList.message">{{organizationList.message}}</div>
    <div class="alert alert-danger" role="alert" ng-show="organizationList.error">{{organizationList.error}}</div>

    <table class="table table-striped" ng-if="organizationList.organizations">
        <thead>
        <tr>
            <th>{{ 'CODE' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'ACTIVE' | translate }}</th>
            <th>{{ 'SYSTEM' | translate }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="organization in organizationList.organizations | itemsPerPage: 10">
            <td>{{organization.code}}</td>
            <td><a role="button" ui-sref="organization-edit({organizationId: organization.id})">{{organization.name}}</a></td>
            <td><input type="checkbox" ng-model="organization.active" disabled></td>
            <td><input type="checkbox" ng-model="organization.system" disabled></td>
            <td><button class="btn btn-xs btn-danger " ng-click="organizationList.delete(organization.id)" confirm="{{ 'CONFIRM_ORGANIZATION_DELETE' | translate }}"><i class="fa fa-remove"></i> {{ 'DELETE' | translate }}</button></td>
        </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="text-center"><dir-pagination-controls></dir-pagination-controls></div>
    </div>

</div>